@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff3f4e;
  overflow-x: auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-size: 62.5%;
}
/* make variables */
:root {
  --accent-color: #ff5766;

  --text-primary: #002863;
}
/*____________________ global classes ____________________ */

.justify-between {
  justify-content: space-between;
}
.flex {
  display: flex;
}
.accent-color {
  color: var(--accent-color);
}
.flex-col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

/* ____________________ Navbar ____________________ */
.navbar {
  /* background-color: rgba(255, 255, 255, 1); */
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__menu-list {
  display: flex;
  gap: 1rem;
}

.navbar__menu-list li {
  list-style: none;
}
.navbar__menu-list li a {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  font-weight: 500;
}
.navbar__booking {
  display: flex;
  gap: 1rem;
}
.navbar__booking button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
}
/* _____________________ Banner ______________________ */
.banner {
  width: 100%;
}
.banner__container {
  display: flex;
  /* height: 250px; */
  padding: 3rem 0;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(75, 90, 219, 1) 0%,
    rgba(90, 64, 196, 1) 100%
  );
}
.banner__content .banner__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  /* line-height: 50px; */
}
.banner__content .banner__description {
  color: #fff;
  font-size: 40px;

  font-weight: 500;
  line-height: 50px;
}

/* ___________________ Advertisement - 1 _________________ */
.advertisement-1 {
  background-color: #f9f9f9;
  padding: 2rem;
  gap: 5rem;
}
.advertisement-1 .header-1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 2rem;
}
.advertisement-1 .course-duration {
  display: flex;
  gap: 5rem;
  justify-content: center;
}
.advertisement-1 .course-duration .card {
  width: 199px;
  height: 265px;
  border-radius: 12px;
  overflow: visible;
  padding: 1rem;
  background-color: #f5eae2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.advertisement-1 .course-duration .card-title {
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 40, 99, 1);
}

.advertisement-1 .course-duration .card-image {
  position: relative;
  margin: 0 -29px;
}

.advertisement-1 .course-duration .card-image img {
  width: 100%;
  display: block;
}
.advertisement-1 .course-duration .course-arrow span {
  background-color: #f5eae2;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.advertisement-1 .course-duration .course-arrow img {
  width: 70px;
  height: 70px;
}
.advertisement-1 .course-duration .wave img {
  width: 312px;
  height: 25px;
}

/* ___________________ Advertisement - 2 _________________ */

.advertisement-2 {
  background-color: #f9f9f9;
  padding: 2rem;
  gap: 2rem;
}
.advertisement-2 .header-1 {
  font-size: 36px;
}
.advertisement-2 .header-1 span {
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 40, 99, 1);
}
.advertisement-2 .header-2 {
  font-size: 24px;

  color: rgba(0, 40, 99, 1);
}
.advertisement-2 .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 12px;
  height: 358px;
  width: 360px;
  box-shadow: 0px 4px 4px rgba(153, 152, 152, 0.25);
}
.advertisement-2 .card img {
  width: 100%;
}
.advertisement-2 .card .card-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: rgba(0, 40, 99, 1);
  text-wrap: wrap;
}
.advertisement-2 .course-duration {
  display: flex;
  gap: 5rem;
  justify-content: center;
}
.see-all-button button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  color: var(--accent-color);
  background-color: #fff;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
/* ________________________Analytics _______________________*/
.analytics {
  background-color: #f9f9f9;

  gap: 5rem;
  padding: 3rem 0;
  justify-content: center;
}
.analytics div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analytics div span:nth-child(2) {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  color: rgba(0, 40, 99, 1);
}
.analytics div span:nth-child(3) {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: rgba(0, 40, 99, 1);
}

/* ____________________________ Banner - 2 _______________________ */
.banner-2 {
  padding: 2rem 0;
  width: 100%;
  background-color: #5a40c4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-2 .banner-2__content {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.banner-2 .banner-2__content .banner-2__title {
  font-size: 18px;
  max-width: 718px;
  text-wrap: wrap;
  font-weight: 500;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}
.banner-2 .banner-2__content button {
  font-size: 18px;
  font-weight: 500;
  height: fit-content;
  line-height: 26px;
  box-shadow: none;
  color: rgba(255, 255, 255, 1);
  background-color: var(--accent-color);
  padding: 0.5rem 1.3rem;
  border-radius: 8px;
  border: none;
}
/* ____________________________ Banner - 2 _______________________ */
.banner-3 {
  padding: 4rem 0;
  width: 100%;
  background-color: #f6fcfe;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.banner-3 .banner-3__content {
  width: 100%;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}
.banner-3 .banner-3__content .banner-3__title {
  font-size: 36px;
  font-style: italic;
  max-width: 595px;
  text-wrap: wrap;
  font-weight: 400;
  line-height: 50px;
  color: #002863;
}

/*_________________________ Overlay _________________________*/
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(112, 147, 243, 0.4);
  justify-content: center;
  align-items: center;
}

.apply-now-btn[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.overlay-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 6px;
  width: 80%;
  max-width: 500px;
  position: relative;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.overlay-content form {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0.5rem 2rem;
  gap: 1rem;
}

.overlay-content form input,
.overlay-content form select,
.overlay-content form button {
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #d2d5db;
  padding: 10px;
  color: var(--text-primary);
  font-size: 16px;
  
}
.overlay-content form button {
  background-color: #ff3f4e;
  color: white;
  font-size: 16px;
}
.overlay-content .terms {
  padding: 0rem 2rem;
  text-align: start;
  font-size: 14px;
}

.overlay-content .terms a {
  color: #ff3f4e;
  text-decoration: none;
  font-size: 14px;
}

.overlay-content .security-icons img {
  margin: 5px 0 10px 0;
}
.overlay-header {
  background: #5a40c4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 1rem 2rem;
  color: white;
}
.overlay-header > div > h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 40px;
}
.overlay-header > p {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  text-align: start;
}

@media screen and (max-width: 768px) {
  /* ______________ Navbar  ______________   */

  .navbar__menu-list {
    display: none;
    /* flex-direction: column; */
  }
  .navbar__booking button {
    padding: 0.9rem 1rem;
    font-size: 15px;
    font-weight: 500;
  }
  /* ______________ Advertisement - 1 ______________   */

  .advertisement-1 {
    gap: 2.5rem;
    padding: 1rem 0.8rem;
  }

  .advertisement-1 .header-1 {
    font-size: 20px;
    line-height: 28px;
  }
  .advertisement-1 .course-duration {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  /* ______________ Analytics ______________   */
  .advertisement-2 .card {
    width: fit-content;
  }
  .advertisement-2 .course-duration {
    flex-direction: column;
    gap: 2.5rem;
  }
  .analytics {
    padding: 2rem 1rem;
    gap: 2.5rem;
    flex-direction: column;
  }
  .analytics div {
    gap: 0.5rem;
    flex-direction: row;
  }
  .analytics div span:nth-child(2) {
    font-size: 16px;
  }
  .analytics div span:nth-child(3) {
    font-size: 16px;
  }
  /* __________Banner____________ */
  .banner__container {
    padding: 1.9rem 0;
  }
  .banner__content .banner__title {
    font-size: 18px;
  }
  .banner__content .banner__description {
    font-size: 22px;
    margin: 0;
  }
  /* _____________ Banner-2 ___________- */
  .banner-2 {
    padding: 1.3rem 1rem;
    width: auto;
  }
  .banner-2 .banner-2__content {
    flex-direction: column;
    gap: 1rem;
  }
  .banner-2 .banner-2__content .banner-2__title {
    max-width: 400px;
  }
  .banner-2 .banner-2__content button {
    width: 100%;
  }
  /* _____________ Banner-2 ___________- */
  .banner-3 {
    padding: 2rem 0;
  }
  .banner-3 .banner-3__content {
    padding: 0 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  .banner-3 .banner-3__content .banner-3__title {
    font-size: 24px;
    line-height: 32px;
  }
  /* ________________ Overlay ___________ */
  .overlay-content {
    width: 90%;
  }
  .overlay-content form {
    padding: 1.3rem 1.3rem 0.5rem 1.3rem;
  }
  .course-arrow img {
    rotate: 90deg;
  }
}
